In [1]:
import glob
import os

import polars as pl

In [2]:
home = os.path.expanduser("~")

## Run on tiny dataset

In [4]:
path = f"{home}/data/timeseries/1-month/parquet"
all_files = glob.glob(path + "/*.parquet")

In [5]:
ldf = pl.concat(list(pl.scan_parquet(f) for f in all_files))

In [6]:
%%time
df = ldf.select(pl.col("id").n_unique()).collect()

CPU times: user 200 ms, sys: 144 ms, total: 344 ms
Wall time: 235 ms

## Eager API on small dataset

In [7]:
df = pl.concat(list(pl.read_parquet(f) for f in all_files))

In [8]:
%%time
print(df[[pl.col("id").n_unique()]])

shape: (1, 1)
┌─────┐
│ id  │
│ --- │
│ u32 │
╞═════╡
│ 290 │
└─────┘
CPU times: user 68.3 ms, sys: 7.55 ms, total: 75.9 ms
Wall time: 75.4 ms

## Run on a large dataset

In [3]:
path = f"{home}/data/timeseries/20-years/parquet"
all_files = glob.glob(path + "/*.parquet")

In [12]:
ldf = pl.concat(list(pl.scan_parquet(f) for f in all_files))

In [13]:
%%time
df = ldf.select(pl.col("id").n_unique()).collect()

CPU times: user 39.9 s, sys: 23.6 s, total: 1min 3s
Wall time: 1min 40s

In [14]:
df

shape: (1, 1)
┌─────┐
│ id  │
│ --- │
│ u32 │
╞═════╡
│ 367 │
└─────┘

## Large dataset, different approach

In [4]:
%%time

df = pl.concat(list(pl.read_parquet(f) for f in all_files), rechunk=False)
df.select(pl.col("id").n_unique())

CPU times: user 40.4 s, sys: 23.4 s, total: 1min 3s
Wall time: 1min 36s

shape: (1, 1)
┌─────┐
│ id  │
│ --- │
│ u32 │
╞═════╡
│ 367 │
└─────┘